
{%for error in form.non_field_errors%}
<div class="alert alert-danger">
{{error}}</div>
{%endfor%}

<div class="form-group">
    <input class="form-control" name="{{email}}" id="id_{{email}}" type="email" placeholder="Email">
    {%for error in email_errors%}
        <div class="alert alert-danger mt-10">{{error}}</div>
    {%endfor%}
</div>
<div class="form-group">
    <input class="form-control" name="{{password}}" id="id_{{password}}" type="password" placeholder="Password">
    {%for error in password_errors%}
        <div class="alert alert-danger mt-10">{{error}}</div>
    {%endfor%}
</div>
<div class="checkbox">
 <label><input id="id_{{checkbox}}" name="{{checkbox}}" type="checkbox">Remember me</label>
 {%for error in checkbox_errors%}
     <div class="alert alert-danger mt-10">{{error}}</div>
 {%endfor%}
</div>
