
{%for error in form.non_field_errors%}
<div class="alert alert-danger">
{{error}}</div>
{%endfor%}

<div class="form-group">
    <input class="form-control" name="{{email}}" id="id_{{email}}" type="email" placeholder="Email">
    {%for error in email_errors%}
        <div class="alert alert-danger mt-10">{{error}}</div>
    {%endfor%}
</div>
<div class="form-group">
    <input class="form-control" name="{{password}}" id="id_{{password}}" type="password" placeholder="Password">
    {%for error in password_errors%}
        <div class="alert alert-danger mt-10">{{error}}</div>
    {%endfor%}
</div>
<div class="form-group">
    <input  class="form-control" id="id_{{password2}}" name="{{password2}}" type="password" placeholder="Password again">
    {%for error in second_password_errors%}
        <div class="alert alert-danger mt-10">{{error}}</div>
    {%endfor%}
</div>
