{% extends "base-navbar.html" %}
{% load staticfiles %}

{% block content %}
<!--<div class="container">-->
<div class="left" style="padding-top:50px;">
    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12">
            <p class="lead"> Your number: {{ call.phone_number }}</p>
        </div>
        <audio id="audio">
            <source id="audio_source" src="{{ root_audio_url }}">
        </audio>
    </div>
    {% if not joined %}
    <div class="row" style="margin-top: 100px;">
        <div class="col-xs-12">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-keypad" value="1">1</button>
                <button type="button" class="btn btn-default btn-keypad" value="2">2</button>
                <button type="button" class="btn btn-default btn-keypad" value="3">3</button>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-keypad" value="4">4</button>
                <button type="button" class="btn btn-default btn-keypad" value="5">5</button>
                <button type="button" class="btn btn-default btn-keypad" value="6">6</button>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-keypad" value="7">7</button>
                <button type="button" class="btn btn-default btn-keypad" value="8">8</button>
                <button type="button" class="btn btn-default btn-keypad" value="9">9</button>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-keypad" value="*" disabled="1">*</button>
                <button type="button" class="btn btn-default btn-keypad" value="0">0</button>
                <button type="button" class="btn btn-default btn-keypad" value="#" disabled="1">#</button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="right-white" id="videos" style="padding-top:50px;">
    <div class="row">
       <video id="localVideo" style="display:none;" autoplay muted></video>
       <video id="remoteVideo" autoplay></video>
   </div>
   {% if joined %}
   <div class="row" style="margin-top: 20px;">
   <form class="col-md-6" method="post" action="{% url 'dashboard:redirect' pk=call.pk %}">
       {% csrf_token %}
       <button class="btn btn-warning btn-block" type="submit">Redirect</button>
   </form>
   <form class="col-md-6" method="post" action="{% url 'dashboard:finish' pk=call.pk %}">
       {% csrf_token %}
       <button class="btn btn-danger btn-block" type="submit">Finish</button>
   </form>
   </div>
   {% else %}
   <form class="row" method="get" action="{% url 'call_center:index' %}">
       {% csrf_token %}
       <button class="btn btn-danger btn-block" type="submit">Finish</button>
   </form>
   {% endif %}

</div>
<!--</div>-->
{% endblock %}


{% block extra_body %}
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="{% static 'adapter.js' %}"></script>
    <script type="text/javascript">
        var room = {{ call.pk }};
    </script>
    <script src="{% static 'main.js' %}"></script>
    {% if not joined %}
        <script type="text/javascript">
            var audio = $("#audio")[0];
            var audio_source = $("#audio_source")[0];
            audio.play();
            $(".btn-keypad").click(function(event) {
                var val = $(event.target).attr("value");
                //var link = "/call-center/call/" + "{{ call.pk }}" + "/menu/" + val;
                var fmt_string = '{% url "call_center:menu_action" pk=call.pk pressed_button="pressed_button"%}';
                var link = fmt_string.replace("pressed_button", val);
                console.log(link);
                audio_source.src = link;
                audio.load();
                audio.play();
            });
        </script>
        <script type="text/javascript">
            setInterval(function() {
                $.ajax({
                     url: "{% url 'call_center:heartbeat' pk=call.pk %}",
                })
            }, 5000);
        </script>
    {% endif %}
{% endblock %}
