{% extends "base-navbar.html" %}

{% block content %}
<div class="container" style="padding-top:50px; width: 100%;">
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="{% url 'call_center:index' %}" data-toggle="validator" role="form">
                {% csrf_token %}

                <div class="form-group">
                  <label for="phone_number" class="control-label">Phone number</label>
                  <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">+7</span>
                      <input type="text" class="form-control"
                             id="phone_number"
                             placeholder="Phone number"
                             pattern="^[0-9]{1,15}$"
                             name="phone_number"
                             aria-describedby="basic-addon1"
                             data-error="That phone number is invalid"
                             required></input>
                      <div class="input-group-btn">
                      <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <!--<div class="form-group">
                  <label for="inputEmail" class="control-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                  <div class="help-block with-errors"></div>
              </div>-->

            </form>
        </div>
    </div>
</div>
{% endblock %}
