{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p class="lead"><span class="lead label label-success">Note</span>{% blocktrans %} you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
