{% extends "base.html" %}

{% load staticfiles %}

    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Call Center</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse-menu">
                <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                        <li><a class="hvr-underline-reveal" href="{% url 'account_email' %}">Change E-mail</a></li>
                        <li><a class="hvr-underline-reveal" href="{% url 'account_logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a class="hvr-underline-reveal" href="{% url 'account_login' %}">Sign In</a></li>
                        <li>
                            <form action="{% url 'account_signup' %}">
                                <button class="navbar-btn btn btn-default btn-primary signup-btn-nav" role="button">Sign Up</button>
                            </form>
                        </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
