{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A platform for scientific computation"/>
    <meta name="author" content="OpenStack Research team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/52654bb503.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link href="{% static 'base.css' %}" rel="stylesheet"/>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>


<body>
    {% block body %}
    <!-- Navigation -->
    {% block navbar %}
    {% endblock %}

    {% if messages %}
    <div class="col-xs-6 align-right-alert">
      <ul class="float-message">
    {% for message in messages %}
        <li>
            {%if message.tags != "error"%}
                <div class="alert alert-{{message.tags}} alert-dismissible fade in">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}</div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade in">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}</div>
            {% endif %}
        </li>
    {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}


    {% endblock %}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

    {% block extra_body %}
    {% endblock %}

</body>
</html>
