.navbar-brand {
    font-size: 30px !important;
}
html {
    height: 100%;
}
body {
    height: inherit;
}

.btn-keypad {
    border-radius: 50px !important;
    width: 70px !important;
    margin: 2px !important;
    height: 70px;
    font-size: 30px;
    vertical-align: middle !important;
}

.left {
    width: 50%;
    float: left;
    min-height: 100%;
    min-width: 100px;
    /*overflow-x: hidden;*/
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.right {
    width: 50%;
    float:right;
    min-height: 100%;
    min-width: 100px;
    /*overflow-x: hidden;*/
    background-color: black;
    vertical-align: middle;
    text-align: center;
}

.right-white {
    width: 50%;
    float:right;
    min-height: 100%;
    min-width: 100px;
    /*overflow-x: hidden;*/
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.btn-choice {
    min-width: 150px;
    min-height: 50px;
    margin-top: 53%;
    border-radius: 25px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.for-business-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.tagline {
    color: #fff;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.7px;
    font-size: 30px;
}

/* Signup button */

.signup-btn-nav {
    text-align: center;
    background-color: #67D69B;
    border: none;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.signup-btn-nav:focus,
.signup-btn-nav:hover {
    background-color: #3EB374 !important;
}

.signup-btn {
    text-align: center;
    background-color: #67D69B;
    border: none;
    margin-top: 30px;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.signup-btn:focus,
.signup-btn:hover {
    background-color: #3EB374 !important;
}

/* Navbar */

.navbar-default {
  background-color: #0E2B4D;
  border-color: #0E2B4D;
  width:auto;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-toggle {
  border-color: #126194;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #126194;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* Hover underline reveal */

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3DB374;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Navbar brand */

.navbar-brand {
    font-family: monospace;
    font-size: 24px !important;
    color: #ffffff !important;
      -o-transition:.2s;
      -ms-transition:.2s;
      -moz-transition:.2s;
      -webkit-transition:.2s;
      /* ...and now for the proper property */
      transition:.2s;
}

.navbar-brand:hover {
    color: #6CC72C !important;
}

.navbar-brand:before {
    content: "def ";
    color: #FA2772;
    font-style: italic;
    opacity: 0;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.navbar-brand:hover:before {
    opacity: 1;
}

.navbar-brand:after {
    content: "():";
    color: white !important;
    opacity: 0;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

.navbar-brand:hover:after {
    opacity: 1;
}

/* Other */

.img-center {
    margin: 0 auto;
}

.center_text {
    text-align: center;
}


.monospace {
    font-family: monospace;
}

/* Float messages */

.align-right-alert {
   margin: 5px;
   position: fixed;
   right: 0px;
   z-index: 2;
}

.float-message {
    list-style-type: none;
}

/* Footer */



/* Form */

.form-contact {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-contact .form-contact-heading {
  margin-bottom: 10px;
}

.form-contact .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.form-contact .form-control:focus {
  z-index: 2;
}
.form-contact #contactName {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-contact #contactEmail,
.form-contact #companyName {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-contact #question {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.sign_in_form {
    border: 2px solid lightgrey !important;
    max-width: 340px;
    border-radius: 5px;
    margin: inherit;
    margin-top: 50px;
}
.social_row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign_in_title {
    background-color: #0E2B4D !important;
    height: 50px;
    color: white !important;
}

.align-right-alert {
   position: fixed;
   right: 0px;
   z-index: 2;
   margin-top: 3px;
}

.thick_footer {
    height: 60px !important;
}

.mt-10 {
    margin-top: 10px;
}

.no_underline:hover {
    text-decoration: none !important;
}
.divider {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    color: #999;
    text-transform: uppercase;
    margin-top: 30px;
}
.divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: #e5e5e5;
    height: 1px;
    width: 100%;
    z-index: 1;
}

.divider span {
    background-color: white;
    z-index: 2;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.overview-item {
    vertical-align: middle;
}

.btn-controls {
    margin-top: 50px;
    min-width: 150px;
    border-radius: 25px;
}
