video {
  /*max-width: 100%;
  width: 320px;*/
  /*filter: hue-rotate(0deg) saturate(200%);
  -moz-filter: hue-rotate(0deg) saturate(200%);
  -webkit-filter: hue-rotate(0deg) saturate(200%);*/
  width: 97.6%;
  float:right;
  transform: rotateY(180deg);
   -webkit-transform:rotateY(180deg); /* Safari and Chrome */
   -moz-transform:rotateY(180deg); /* Firefox */
}
