{% extends "base-navbar.html" %}

{% block content %}
    <div class="container" style="padding-top: 50px;">
        <h2 class="heading">Service Requests</h2>
        <table class="table table-striped">
            <thead>
                <th>Phone Number</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created</th>
                <th>Accept</th>
            </thead>
            {% for request in requests %}
                <tr>
                    <td>{{request.call_id.phone_number}}</td>
                    <td>{{request.category}}</td>
                    <td>{{request.str_status}}</td>
                    <td>{{request.created_at}}</td>
                    <td>
                        <form method="post" action="{% url 'dashboard:accept' pk=request.call_id.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">Accept</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
