{% extends "base.html" %}
{% load staticfiles %}
{% block content%}
<div class="left">
    <form action="{%url 'call_center:index'%}">
    <button class="btn btn-lg btn-choice btn-success">Client</button>
    </form>
</div>
<div class="right">
    <form action="{%url 'dashboard:index'%}">
    <button class="btn btn-lg btn-danger btn-choice btn-danger">Operator</button>
    </from>
</div>


{% endblock %}

{% block extra_body %}

{% endblock %}
