{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <!--<h2 class="heading">{% trans "Add E-mail Address" %}</h2>-->
<div class="container">
    <form method="post" action="{% url 'account_email' %}" class="col-md-6 input-group center_text">
        {% csrf_token %}
        <input class="form-control" id="id_email" name="email" placeholder="E-mail" size="30" type="email" required="">
        <div class="input-group-btn">
        <button name="action_add" type="submit" class="btn btn-success">Add E-mail</button>
        </div>
    </form>
    <h1 class="heading">{% trans "E-mails" %}</h1>
{% if user.emailaddress_set.all %}
<form action="{% url 'account_email' %}" class="form-group" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="label label-success">{% trans "Verified" %}</span>
    {% else %}
    <span class="label label-danger">{% trans "Unverified" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="label label-success">{% trans "Primary" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="btn btn-primary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="btn btn-warning" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <button class="btn btn-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}
</div>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
