{% extends "account/base_no_navbar.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load sign_in_form %}

{% block head_title %}{% trans "Sign in &mdash; getnb" %}{% endblock %}

{% block content %}

<div class="container center_text">
    <h1 class="heading">{% trans "Sign in" %}</h1>
<div class="panel panel-default sign_in_form center_text">
        <div class="panel-body">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        <div class="row social_row">
            {%for provider in socialaccount_providers%}
                <a class="btn btn-social-icon btn-{{provider.name | lower}}"
                   href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params%}"
                   role="button" title="Sign in with {{provider.name}}" data-toggle="tooltip">
                   <span class="fa fa-{{provider.name | lower}}"></span>
               </a>
            {% endfor %}
        </div>
        <div class="divider">
            <span>OR</span>
        </div>
        {% endif %}

        <form class="form-signin" method="POST" action="{% url 'account_login' %}" role="form">
          {% csrf_token %}
          {%sign_in_form form%}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
          <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>

        <p>{% blocktrans %}Don't have an account?
        <a href="{{ signup_url }}">Sign up </a>{% endblocktrans %}</p>
        </div>
        </div>
        </div>
</div>
</div>
{% endblock %}
