{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container center_text" style="padding: 50px;">
<div class="panel panel-default sign_in_form center_text">
    <h1 class="heading">{% trans "Sign Out" %}</h1>
    <div class="panel-body">
<p class="lead" style="padding-top: 15px; padding-bottom: 15px;">
{% trans 'Are you sure you want to sign out?' %}
</p>
<div class="row">
<form class="col-md-6" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-danger btn-block"  type="submit">{% trans 'Sign Out' %}</button>
</form>
<form class="col-md-6" method="get" action="{% url 'dashboard:index' %}">
    <button class="btn btn-default btn-block" type="submit">{% trans 'Back to Dashboard' %}</button>
</form>
</div>
</div>
</div>
</div>


{% endblock %}
