{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container {% if not token_fail %}center_text{% endif %}" style="padding: 50px;">
    <h1 class="heading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="lead">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="panel panel-default sign_in_form center_text">
            <div class="panel-body">
            <form class="form-group" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="form-group">
                <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required="">
                </div>
                <div class="form-group">
                <input class="form-control" id="id_password2" name="password2" placeholder="Repeat Password" type="password" required="">
                </div>
                <div class="form-group">
                <input class="btn btn-success btn-block" type="submit" name="action" value="{% trans 'Change' %}"/>
                </div>
            </form>
            </div>
            </div>
        {% else %}
            <p class="lead">{% trans 'Your password was successfully changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
