{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container center_text" style="padding: 50px;">
    <h1 class="heading">{% trans "Password Reset" %}</h1>
<!--<div class="panel panel-default sign_in_form center_text">-->
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="lead">{% trans "Forgotten your password? Enter your e-mail address, and we'll send you a reset link." %}</p>
    <div class="col-xs-4"> </div>
    <form class="form-group col-xs-4 center_text" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="input-group">
        <input class="form-control" id="id_email" name="email" placeholder="E-mail address" size="30" type="email" required="">
        <div class="input-group-btn">
        <input class="btn btn-success" type="submit" value="{% trans 'Reset My Password' %}" />
        </div>
        </div>
    </form>
    <div class="col-xs-4"> </div>
<!--</div>-->
</div>
{% endblock %}
