{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container" style="padding:30px;">
    <h1 class="heading" style="padding-bottom:30px;">{% trans "Verify Your E-mail Address" %}</h1>

    <p class="lead">{% blocktrans %}We have sent you verification e-mail. Use provided link to complete the signup process.{% endblocktrans %}</p>
    <p class="lead">{% blocktrans %}Please contact us if you do not receive e-mail within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
